.App {
  color: white;
  font-size: 100px;
}

body {
  background-color: #282c34;
  border: 20px solid orange;
}

div{
  display: flex;
  flex-direction: column; 
  align-items: center; 
  height: 100vh;
  font-size: 30px
}

h2 {
  color: orange;
}

ul {
  color: orange
}

.input {
  
  box-sizing: border-box;
  width: 100%;
  max-width: 400px;
  height: 30px;
}

.button {
  margin: 4px
}

